<h2><%= @movie.title %></h2>
<p><%= @movie.description %></p>

<div class="pull-right">
<% if current_user && current_user.is_favorite?(@movie) %>
<% if current_user %>
  <label>已收藏</label>
  <%= link_to("取消收藏", quit_movie_path(@movie), method: :post, class: "btn btn-primary") %>
  <%= link_to("发表评论", new_movie_review_path(@movie), class: "btn btn-primary pull-right") %>
<% else %>
  <label>未收藏</label>
  <%= link_to("添加收藏", join_movie_path(@movie), method: :post, class: "btn btn-primary") %>
<% end %>
<% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <td>评论内容</td>
      <td>发表者</td>
      <td>发表时间</td>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.content %></td>
        <td><%= review.user.email %></td>
        <td><%= review.created_at%></td>
      </tr>
    <% end %>
  </tbody>
</table>
